article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

audio


:not

 

(
[
controls
]

 

)
{
display


:

 

none


;
height


:

 

0;
}
[hidden], template {
	display: none;
}

.abt_p1:hover .dropdown-menu {
	display: block !important;
}

.abt_p1 {
	
}

.abt_p1 a:hover {
	
}

.abt_p {
	background: #01a6d4 !important;
	color: #fff !important;
}

.abt_p a:hover {
	color: #fff !important;
	background: #01a6d4 !important;
}

html {
	background: white;
	color: black;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg


:not

 

(
:root

 

)
{
overflow


:

 

hidden


;
}
figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	background-color: #152559;
	line-height: normal;
	border: none;
	outline: none;
	font-size: 14px;
	font-size: 0.875em;
}

.button.secondary {
	background-color: #e9eaed;
	color: #7d808c;
}

.fullwidth-block {
	padding: 50px 0;
	position: relative;
}

@media screen and (max-width: 510px) {
}

.breadcrumbs {
	background: #f6f7f9;
	padding: 10px;
	font-size: 14px;
	font-size: 0.875em;
	color: #aeb0b9;
	font-weight: 300;
}

.breadcrumbs a {
	color: #aeb0b9;
	text-decoration: none;
}

address {
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url("fonts/icomoon.eot?-cop1gd");
	src: url("fonts/icomoon.eot?#iefix-cop1gd") format("embedded-opentype"),
		url("fonts/icomoon.woff?-cop1gd") format("woff"),
		url("fonts/icomoon.ttf?-cop1gd") format("truetype"),
		url("fonts/icomoon.svg?-cop1gd#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-person-globe:before {
	content: "\e600";
}

.icon-person-time:before {
	content: "\e601";
}

.icon-chess-knight:before {
	content: "\e602";
}

.icon-maze:before {
	content: "\e603";
}

.icon-bulb:before {
	content: "\e604";
}

.icon-handshake:before {
	content: "\e605";
}

.icon-doc-time:before {
	content: "\e606";
}

.icon-mobile-check:before {
	content: "\e607";
}

.icon-person-move:before {
	content: "\e608";
}

.icon-target:before {
	content: "\e609";
}

.icon-bar-chart-up:before {
	content: "\e60a";
}

.icon-bar-chart-down:before {
	content: "\e60b";
}

.icon-person-target:before {
	content: "\e60c";
}

.icon-bulb-structure:before {
	content: "\e60d";
}

.icon-doc-check:before {
	content: "\e60f";
}

.icon-customer-service:before {
	content: "\e610";
}

.icon-barcode:before {
	content: "\e611";
}

.icon-box-search:before {
	content: "\e612";
}

.icon-box-timer:before {
	content: "\e613";
}

.icon-box-verified:before {
	content: "\e614";
}

.icon-recyclable:before {
	content: "\e615";
}

.icon-broken-glass:before {
	content: "\e616";
}

.icon-umberella:before {
	content: "\e617";
}

.icon-map-pin-alt:before {
	content: "\e618";
}

.icon-box-delivery:before {
	content: "\e619";
}

.icon-box:before {
	content: "\e61a";
}

.icon-globe-plane:before {
	content: "\e61b";
}

.icon-send-receive:before {
	content: "\e61c";
}

.icon-vehicle-run:before {
	content: "\e61d";
}

.icon-cart:before {
	content: "\e61e";
}

.icon-globe:before {
	content: "\e61f";
}

.icon-map-pin:before {
	content: "\e620";
}

.icon-server-update:before {
	content: "\e621";
}

.icon-server-search:before {
	content: "\e622";
}

.icon-server-add:before {
	content: "\e623";
}

.icon-server-lock:before {
	content: "\e624";
}

.icon-expand:before {
	content: "\e625";
}

.icon-shrink:before {
	content: "\e626";
}

.icon-signal:before {
	content: "\e627";
}

.icon-doc-download:before {
	content: "\e628";
}

.icon-icon-27:before {
	content: "\e629";
}

.icon-lock:before {
	content: "\e62a";
}

.icon-unlock:before {
	content: "\e62b";
}

.icon-key:before {
	content: "\e62c";
}

.icon-credit-card-hand:before {
	content: "\e62d";
}

.icon-credit-card:before {
	content: "\e62e";
}

.icon-money-head:before {
	content: "\e62f";
}

.icon-icon-46:before {
	content: "\e630";
}

.icon-diamond:before {
	content: "\e631";
}

.icon-piggy:before {
	content: "\e632";
}

.icon-pie-chart:before {
	content: "\e633";
}

.icon-line-chart-up:before {
	content: "\e634";
}

.icon-line-chart-down:before {
	content: "\e635";
}

.icon-money-paper:before {
	content: "\e636";
}

.icon-mobile-money:before {
	content: "\e637";
}

.icon-mobile-chart:before {
	content: "\e638";
}

.icon-money-storage:before {
	content: "\e639";
}

.icon-cc-terminal:before {
	content: "\e63a";
}

.icon-checque:before {
	content: "\e63b";
}

.icon-money-atm:before {
	content: "\e63c";
}

.icon-cash-machine:before {
	content: "\e63d";
}

.icon-hammer:before {
	content: "\e63e";
}

.icon-bear:before {
	content: "\e640";
}

.icon-bull:before {
	content: "\e641";
}

.icon-person-money:before {
	content: "\e642";
}

.icon-gold:before {
	content: "\e643";
}

.icon-calculator:before {
	content: "\e644";
}

.icon-money-bag:before {
	content: "\e645";
}

.icon-wallet:before {
	content: "\e646";
}

.icon-money-globe:before {
	content: "\e647";
}

.icon-bank:before {
	content: "\e648";
}

.icon-money-doc:before {
	content: "\e649";
}

.icon-abacus:before {
	content: "\e64a";
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container-fluid:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.site-header {
	position: relative;
	z-index: 99;
	line-height: normal;
}

.top-header {
	background: #292c35;
	color: #aaacb5;
	padding: 20px 0;
}

.top-header a {
	color: #aaacb5;
	text-decoration: none;
}

.member-navigation .fa {
	margin-right: 5px;
}

.member-navigation a {
	display: inline-block;
	margin-left: 20px;
}

.bottom-header {
	background: #D9EDF7;
	color: #337AB7;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	*zoom: 1;
}

.bottom-header:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.bottom-header .branding {
	padding: 0px 0;
}

.bottom-header .branding {
	color: #152559;
	text-decoration: none;
}

.branding .site-title {
	color: #fff;
}

.branding .site-title span {
	color: #01a6d4;
}

.branding .site-description {
	color: #7d808c;
}

.branding {
	*zoom: 1;
}

.branding:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.branding img.logo-icon {
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.branding .site-title, .branding .site-description {
	display: table;
}

.branding .site-title {
	font-size: 1.5em;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.branding .site-title a {
	color: #152559;
	text-decoration: none;
}

.branding .site-title a span {
	color: #01a6d4;
}

.branding .site-description {
	font-size: 12px;
	font-size: 0.75em;
	margin: 0;
}

.main-navigation .menu-toggle {
	display: none;
	background: none;
	padding: 10px;
	margin-top: 10px;
	border: none;
	outline: none;
}

@media screen and (max-width: 768px) {
	.main-navigation .menu-toggle {
		display: block;
	}
}

.main-navigation .menu {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	margin: 0;
	*zoom: 1;
}

.main-navigation .menu:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

@media screen and (max-width: 768px) {
	.main-navigation .menu {
		display: none;
		position: absolute;
		top: 90%;
		left: 0;
		width: 100%;
		background: white;
		padding: 20px;
	}
}

@media screen and (min-width: 769px) {
	.main-navigation .menu {
		display: block !important;
	}
}

.main-navigation .menu .menu-item {
	float: left;
	padding: 0 20px;
}

.main-navigation .menu .menu-item:last-child {
	padding-right: 0;
}

@media screen and (max-width: 768px) {
	.main-navigation .menu .menu-item {
		display: block;
		float: none;
	}
	.main-navigation .menu .menu-item a:after {
		display: none;
	}
}

.main-navigation .menu .menu-item a {
	padding: 30px 0;
	display: block;
	text-decoration: none;
	color: inherit;
	font-weight: 300;
	position: relative;
	border-bottom: 1px solid transparent;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

.main-navigation .menu .menu-item a:after {
	content: "|";
	position: absolute;
	right: -20px;
	font-weight: 100;
	color: #337AB7;
}

@media screen and (max-width: 768px) {
	.main-navigation .menu .menu-item a {
		padding: 10px 20px;
	}
}

.main-navigation .menu .menu-item:first-child {
	border-left: none;
}

.main-navigation .menu .menu-item:last-child a {
	padding-right: 0;
}

.main-navigation .menu .menu-item:last-child a:after {
	display: none;
}

.main-navigation .menu .menu-item:hover a, .main-navigation .menu .menu-item.current-menu-item a
	{
	color: #01a6d4;
	border-bottom: 2px solid #01a6d4;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.alig-center {
	text-align: center;
}

hr {
	border: none;
	border-bottom: 1px solid #adafb8;
}

.list-fa {
	padding: 0;
	list-style: none;
}

.list-fa li {
	padding: 6px 0;
}

.list-fa li .fa {
	margin-right: 10px;
	color: #01a6d4;
}

.list-check {
	padding: 0;
	margin: 30px 0;
	list-style: none;
}

.list-check li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 10px;
}

.list-check li .fa {
	position: absolute;
	top: 7px;
	left: 0;
	color: #01a6d4;
}

.list-check li h3 {
	color: #01a6d4;
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 5px;
}

.list-check li p {
	margin: 0;
}

.leading {
	font-size: 24px;
	font-size: 1.5em;
	color: #01a6d4;
	font-weight: 300;
}

.leading.muted {
	color: #adafb8;
}

.about-section h2 {
	color: #152559;
	font-size: 36px;
	font-size: 2.25em;
}

.inner-content {
	padding-top: 50px;
}

img.pull-left {
	margin-right: 30px;
}

img.pull-right {
	margin-left: 30px;
}

img.pull-left, img.pull-right {
	border-radius: 10px;
}

@media screen and (max-width: 480px) {
	img.pull-left, img.pull-right {
		float: none !important;
		margin: 0 auto 20px;
		display: block;
		text-align: center;
	}
}

hr {
	border: none;
	border-bottom: 1px solid #e4e4e4;
}

hr.spacer {
	border: none;
	padding: 20px;
}

.site-footer {
	background-color: #0C0C0C;
	padding: 30px 0;
	color: #aaacb5;
}

.site-footer .copy {
	font-size: 12px;
	font-size: 0.75em;
}

.site-footer a {
	color: #aaacb5;
}

.site-footer .branding .site-title a, .site-footer .branding .site-title span
	{
	color: #aaacb5;
}

.site-footer .branding .site-title, .site-footer .branding .site-description
	{
	line-height: normal;
}

.site-footer .branding .site-description {
	color: #767982;
}

@media screen and (max-width: 480px) {
	.site-footer .branding {
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	.site-footer {
		text-align: left;
	}
}

@media screen and (max-width: 480px) {
	.footer-navigation {
		text-align: left;
	}
}

.footer-navigation a {
	text-decoration: none;
	display: inline-block;
	padding: 0 15px;
	line-height: 15px;
	border-left: 1px solid #767982;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.footer-navigation a:hover {
	color: #01a6d4;
}

.footer-navigation a:first-child {
	border-left: none;
}

.footer-navigation a:last-child {
	padding-right: 0;
}

.social-links {
	margin: 30px 0 0;
}

@media screen and (max-width: 480px) {
	.social-links {
		text-align: left;
	}
}

.social-links a {
	width: 36px;
	height: 36px;
	text-align: center;
	background-color: #454851;
	color: #aaacb5;
	display: inline-block;
	border-radius: 50%;
	line-height: 35px;
	margin-left: 10px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.social-links a:hover {
	background-color: #5c606d;
}

/* Z-INDEX */
.formError {
	z-index: 990;
}

.formError .formErrorContent {
	z-index: 991;
}

.formError .formErrorArrow {
	z-index: 996;
}

.ui-dialog .formError {
	z-index: 5000;
}

.ui-dialog .formError .formErrorContent {
	z-index: 5001;
}

.ui-dialog .formError .formErrorArrow {
	z-index: 5006;
}

.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position: relative;
	color: #fff;
	min-width: 170px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position: relative;
}

body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow
	{
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top: 2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 11px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}